{% extends 'admin/index.html' %}
{% block body %}
<body>
<br/>
{#<a href="/changepassword">Change password</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/maskviolationreport">Mask Violation Report</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;#}
{#<a href="/nots">View Notifications</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <a href="/addnots">Add Notifications</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;#}
{#<a href="/staff attendance">Staff Attendance</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<br/><br/>#}
{#<a href="/stfm">Staff Management</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;#}
{#<a href="/viewstaff">View Staff</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<a href="/vilog">Visitor's Log</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;#}
{#<a href="/sdviolation">Social Distancing Violation Report</a><br/>#}
{##}
{##}
<img src="/static/images/corona-g4af79be5e_1920.jpg" height="500px" width="1050px">




</body>
{% endblock %}