<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<!-- Head -->
<head>

    <title>Meetup Signin Form Flat Responsive Widget Template : W3layouts</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all">

    <!-- fontawesome -->
    <link rel="stylesheet" href="/static/login/css/font-awesome.min.css" type="text/css" media="all">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">

</head>
<!-- //Head -->

<!-- Body -->
<body>

    <section class="main">

        <div class="bottom-grid">
            <div class="logo">
                <h1> <a href="index.html"> Meetup Signin form</a></h1>
            </div>
        </div>
        <div class="content-w3ls">
            <div class="text-center icon">
                <span class="fa fa-meetup"></span>
            </div>

            <div class="content-bottom">
                <form action="/login_post" method="post">
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="textfield" id="text1" type="text" value="" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="textfield2" id="myInput" type="Password" placeholder="Password">
                        </div>
                    </div>
                    <div class="wthree-field">
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                    <ul class="list-login">
                        <li class="switch-agileits">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                keep Logged in
                            </label>
                        </li>
                        <li>
                            <a href="#" class="text-right">forgot password?</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                    <ul class="list-login-bottom">
                        <li class="">
                            <a href="#url" class="">Create Account</a>
                        </li>
                        <li class="">
                            <a href="#url" class="text-right">Need Help?</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="copyright">
            <p>© 2020 Meetup signin form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a> </p>
        </div>
    </section>

</body>
<!-- //Body -->

</html>




























{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#<style>#}
{#table{#}
{#	border:2px solid black;#}
{#	border-collapse:collapse;#}
{#}#}
{#</style>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/login_post">#}
{#  <p align="center">&nbsp;</p>#}
{#  <p align="center">&nbsp;</p>#}
{#  <p align="center">&nbsp;</p>#}
{#  <h2 align="center">Login</h2>#}
{#  <div align="center">#}
{#    <table width="303" height="131" border="0">#}
{#      <tr>#}
{#        <th bgcolor="#FFFFFF" scope="row">USERNAME #}
{#          <label for="textfield2"></label>#}
{#        <input type="text" name="textfield" id="textfield2" /></th>#}
{#      </tr>#}
{#      <tr>#}
{#        <th bgcolor="#FFFFFF" scope="row">PASSWORD#}
{#          <label for="textfield3"></label>#}
{#        <input type="text" name="textfield2" id="textfield3" /></th>#}
{#      </tr>#}
{#      <tr>#}
{#        <th scope="row"><input type="submit" name="button" id="button" value="LOGIN"  /></th>#}
{#      </tr>#}
{#    </table>#}
{#  </div>#}
{#  <p align="center">&nbsp;</p>#}
{#  <p align="center">&nbsp;</p>#}
{#  <p align="center">&nbsp;</p>#}
{#  <p align="center">&nbsp;</p>#}
{#</form>#}
{#</body>#}
{#</html>#}
